.Side {
  background-color: var(--main-color);
  width: 20%;
  height: 120vh;
}
.side-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.side-bar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: end !important;
  width: 100%;
  padding: 10px;
  gap: 10px;
  margin-bottom: 20px;
  color: var(--seconed-color);
  text-decoration: none;
  transition: 0.3s;
  border-radius: 11px;
}

.side-bar-link:hover {
  color: var(--main-color);
  background-color: var(--seconed-color);
}

.Side .active {
  background-color: var(--seconed-color);
  color: var(--main-color);
}

.Side .active:hover {
  color: var(--main-color);
}

.icon {
  font-size: 24px;
}

/* Start Responsive Areea*/
@media only screen and (max-width: 600px) {
  .side-bar-link span {
    display: none;
  }
  .Side {
    padding: 10px;
  }
}
/* End Responsive Areea*/
